nav{
    padding: 10px;
    position: sticky;  
}

a{
    color: black;
}

.home-bar>a {
    margin: 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    padding-right: 10px;
}

.home {
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: space-around;
}

.icon{
    padding-left: 50px;
    color: black;

}

.underline{
    text-decoration: overline;
}

.lando{
    word-spacing: -5px;
}

.ring1{
        z-index: 4;
        position: absolute;
        width:400px;
        height: 200px;
        border-radius: 50px;
        bottom: -620px;
        right: 70px; 
        margin-top: 200px;
}

.homes{
    z-index: 2;
    position: absolute;
    text-align: center;
    /* padding-top: 20px; */
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 200px;
}

 .rings{
    z-index: 2;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 200px;
    font-style:italic;
    font-size: 100px;

} 

.sales{
    z-index: 4;
    position: absolute;
    width:90px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    color: black;
    padding-top: 15px;
    padding-left: 10px;
}


.para{
    z-index: 3;
    position: absolute;
    bottom: -71px;
    text-align: center;
    padding-top: 100px;
    color: white;
    padding-left: 500px;
    margin-bottom: 0px;
    text-align: justify;
}

.ring-s{
    display: flex;
    font-family: sans-serif;
    margin-bottom: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.add{
    text-decoration: underline;
}

.delete{
    color: rgb(82, 29, 29);
    opacity: 0.3;
    display: inline;
}

.num{
    color: rgb(251, 2, 2);
    display: inline;
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.quick{
    color: brown;
}


.bakery{
    background-image: url(MAC3.avif);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover
}
