body {
    background-color: #faf7f1;
}


.home-bar>a {
   
    margin: 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    padding-right: 10px;

}

.home {
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: space-around;
}

.icon {
    padding-left: 50px;
    color: black;

}

.jewelry {
    z-index: 1;
    position: absolute;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-style: italic;
    font-size: 90px;
    padding-left: 50px;

}

.hand {
    z-index: 2;
    position: absolute;
    bottom: -71px;
    text-align: center;
    padding-top: 250px;
    color: white;
    padding-left: 500px;
    margin-bottom: 100px;
    text-align: justify;
    padding-top: 50px;
}

/* img {
    position: relative;
} */


.inside {
    margin-bottom: 100px;
}

.necklace{
    display: flex;
    font-family: sans-serif;
    margin-bottom: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.image {
    width: 100%;
    height: 800px;
}

.delete {
    color: rgb(82, 29, 29);
    opacity: 0.3;
    display: inline;
}

.num {
    color: rgb(251, 2, 2);
    display: inline;
    text-decoration: underline;

}



a {
    text-decoration: underline;
    color: black;
    /* padding-left: 20px; */
}
/* 
.accessories {
    display: flex;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 100px;
    min-width: 100%;
} */

.sales{
    z-index: 4;
    position: absolute;
    width:80px;
    height: 20px;
    border-radius: 50px;
    /* bottom: -130px;
    right: 70px; */
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-left: 15px;
    margin-left: 290px;
}


.homes{
    z-index: 2;
    position: absolute;
    text-align: center;
    /* padding-top: 20px; */
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 100px;
}

.bck {
    z-index: 4;
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    bottom: -130px;
    right: 70px;
}

/* .necklace {
    margin-left: 40px;
} */

.underline {
    text-decoration: overline;
}

.lando {
    word-spacing: -5px;
    padding-right: 300px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.quick {
    color: brown;
    word-spacing: -5px;
}

.bakery{
    background-image: url(milk7.avif);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}